include README.md
include LICENSE
include tox.ini

recursive-include tests *
recursive-exclude * __pycache__ *.py[co] desktop.ini

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif